.ui-select {
    position: relative;
}

.ui-select > span {
    display: flex;
    width: fit-content;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.ui-select > span:hover {
    color: rgb(var(--accent-color));
}

.ui-select > span:active {
    transition: 50ms ease-out;
    transform: scale(0.95);
}

.ui-select > span > img {
    height: 1em;
    margin: 0.2em 0 0 0.3em;
    transition: 0.2s ease-out;
}

.ui-select.active > span > img {
    transform: rotate(-180deg);
}

.ui-select > div:has(.ui-select-option) {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    left: -1em;
    top: 100%;
    white-space: nowrap;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid rgba(var(--text-color), 0.03);
    background-color: rgba(var(--main-color), 0.8);
    backdrop-filter: blur(20px);
}

.ui-select.active > div {
    display: flex;
}

.ui-select > div > .ui-select-option {
    display: block;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.ui-select > div > .ui-select-option:not(:first-child) {
    margin-top: 0.5em;
}

.ui-select > div > .ui-select-option:hover {
    opacity: 0.8;
}

.ui-select > div > .ui-select-option:active {
    transition: 50ms ease-out;
    transform: scale(0.95);
}